body {
    /*background-image: linear-gradient(45deg, #4158d0, #c850c0);*/
    height: 100vh;
}

.ag-header-cell-label {
    line-height: 50px;
}

.ag-header-row {
    background-color: #36304a;
    color: #fff;
    font-size: 18px
}

.ag-theme-blue .ag-header {
    background-color: #36304a;
}

.ag-theme-blue .ag-row {
    border: none;
    background-color: #e6e3e3!important;
}

.ag-theme-blue{
    border-radius: 10px;
}

.ag-theme-blue .ag-root {
    border: 1px #36304a;
    border-radius: 10px;

}

.ag-theme-blue .ag-header {
    border: none;
}

.ag-theme-blue .ag-header-cell-resize::after {
    border: none;
}

.ag-theme-blue .ag-header-cell {
    border: none;
}

.ag-theme-blue .ag-body {
    background-color: #e6e3e3;
}

.ag-sort-order {
    color: black;
    font-size: 14px;
}